
  <div id="wrapper">

  <div class="nav_wrapper">
    <ul id="nav">
      <li id="nav-home"><a href="/">Home</a></li>
      <li id="nav-schedule"><a href="/schedule">Schedule</a></li>
      <li id="nav-menu"><a href="/menu">Menu</a></li>
      <li id="nav-directions"><a href="/directions">Directions</a></li>
      <li id="nav-info"><a href="/info">Info</a></li>
      <li id="nav-gifts"><a href="/gifts">Gifts</a></li>
      <li id="nav-photos"><a href="/photos">Photos</a><!--<sup>New!</sup>--></li>
    </ul>
  </div>

  <div id="taglines">
    <h1 id="tagline">The wedding of Ellen Marriage and Duncan Robertson <span>previously <strong>Ponting</strong></span></h1>
    <h2 id="topquote">Friday, 27th July 2007 - <a href="http://www.thelangtonarms.co.uk/" title="visit the Langton Arms website">The Langton Arms</a>, Tarrant Monkton, Dorset</h2>
  </div>